extends ../template.pug

block title
  - title = "static site generator"

block content
  #page-home

    #hero1
      .content
        .title-small India's
        .title First DAO focused on Blockchain Innovation
        .title-italic for India

        //- div
          img.logo(src="/dist/images/logo.png")

        a.button-link(href="http://t.me/maharajadao" target="_blank")
          button Join the Raja

    .content-diamond

    //- #hero2
      h1 hello

block footer

block additional-scripts
  include ../partials/analytics.pug
