extends ../template.pug

block title
  - title = "India's First DAO for Blockchain Innovation"

block content
  #page-home

    #hero1
      .content
        .title-small India's
        .title First DAO focused on Blockchain Innovation
        .title-italic for India

        a.button-link(href="http://t.me/maharajadao" target="_blank")
          button Join the Raja

    #hero1-diamond

    #hero2
      .content
        h1 What is a DAO?
        .explain
          | A DAO stands for a <a href="https://www.coindesk.com/information/what-is-a-dao-ethereum/" target="_blank">Decentralized Autonomus Organization</a>. It is an organization that is
          | fully decentralized with all the decisions taken democratically by the supporters of the DAO.

      .content
        h1 What will the MaharajaDAO do?
        .explain
          | MaharajaDao will help support and promote DAOs and DApps that are specifically made in India.
          br
          br
          | By doing so MaharajaDao will help promote innovation and disruption in the country’s blockchain ecosystem
    //- #hero2
      h1 hello

block footer

block additional-scripts
  include ../partials/analytics.pug
