extends ../template.pug

block title
  - title = "India's First DAO for Blockchain Innovation"

block content
  #page-home

    #hero1.hero
      .content
        .title-small India's
        .title First DAO focused on Blockchain Innovation
        .title-italic in India

        a.button-link(href="http://t.me/maharajadao" target="_blank")
          button Join the Raja

    #hero1-diamond.hero-diamond

    #hero2.hero
      .content.row
        .columns.medium-6
          h1 What is a DAO?
          .explain
            | A DAO stands for a <a href="https://www.coindesk.com/information/what-is-a-dao-ethereum/" target="_blank">Decentralized Autonomus Organization</a>. It is a
            | for-profit organization that is fully decentralized without any central authority in control.
            | All the decisions are taken democratically, by the token holders of the DAO.

        .columns.medium-6
          //- b img goes here

      .content.row
        .columns.medium-6
          //- b img goes here
        .columns.medium-6.text-right
          h1 What will the MaharajaDAO do?
          .explain
            | The MaharajaDao will support and promote DAOs and DApps that are specifically made in India.
            br
            br
            | By doing so MaharajaDao will help promote innovation and disruption in the country’s blockchain ecosystem.

      .content.row
        .columns.medium-6
          h1 Can the MaharajaDAO ever be taken down?
          .explain
            | No. No entity or individual (not even the creators) can take full control of the MaharajaDAO.
            br
            br
            | By having power decentralized, the MaharajaDAO is highly resistant to corruption.
        .columns.medium-6
          //- b img goes here

    #hero2-diamond.hero-diamond

    #hero3.hero
      .content.row
        .columns.text-center
          h1 The MAHA token
          .pitch The MAHA token powers all the activity within the MaharajaDAO

    #hero3-diamond.hero-diamond.reverse

    #hero4.hero
      .content.row
        .columns.text-center
          h1 DApps supported by the DAO
          .pitch These are the list of DApps that are supported by DAO token holders

    #hero4-diamond.hero-diamond.reverse

    #hero5.hero
      .content.row
        .columns.text-center
          h1 Members of the DAO
          .pitch since it's launch on August 2018, the MaharajaDAO continues to grow strong

    #hero5-diamond.hero-diamond

    #hero6.hero
      .content.row.width-700
        .columns.text-center
          h1 Join the voice for India. Let’s all be a part of something great!
          .pitch everybody’s voice is heard. Becoming a part of the MaharajaDao is easy and here’s what you can do to join


block footer

block additional-scripts
  include ../partials/analytics.pug
