extends ../template.pug

block title
  - title = "static site generator"

block content
  #page-home

    #hero1
      .title-small India's
      .title First DAO focused on Blockchain Innovation
      .title-italic for India


block footer

block additional-scripts
  include ../partials/analytics.pug
